<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script rel='javascripts' src="/javascripts/main.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
    </style>
  <title>The Wall</title>
</head>

 
  <nav>
    <h1>The Wall</h1>
    <% if (user) { %>
      
      
   
    <a href="/posts" class="navlinks"><button class="nav"> Home </button></a>
    <a href="/logout"><button class="nav">Log Out</button></a>
  </nav>
  
  <body>
    <div class="container">
      <div class="hello">
      Hello, <%= user.username %>! 
    </div>
  </div>
  <% } else { %>
    <% } %>
  
