<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>The Wall</title>
</head>
<body>
  <div class="container">
  <h1>The Wall</h1>
  <nav>
    <% if (user) { %>
      Hello, <%= user.username %>!  <a href="#"><button class="editprofile">Edit Profile</button></a>
      <a href="/logout" class="navlinks"><button class="nav">Log Out</button></a>
    <% } else { %>
      <a href="/auth/google" class="navlinks"><button class="nav">Login with Google</button></a>
    <% } %>
    <a href="/posts" class="navlinks"><button class="nav"> Feed </button></a>
    <a href="/users" class="navlinks"><button class="nav">  Users </button></a>
  </nav>
  </div>
    