<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script rel='javascripts' src="/javascripts/main.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
    </style>
  <title>The Wall</title>
</head>

<header><h1> ! # THE W@LL * &</h1></header>
 
  <nav>
    <% if (user) { %>
      <div class="nav-items">
        <div class="nav-buttons">
    <a href="/posts"><button class="nav"> Home </button></a>
    <a href="/logout"><button class="nav">Log Out</button></a>
  </div>
  <div class="nav-search">
    <form class="form-inline" action="posts/search/" method="POST">
      <input id="searchbar" placeholder="Enter Query Here" name="search">
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>
</div>
  </nav>
  
  <body>
    <div class="container">
      <div class="hello">
      Hello, <%= user.username %>! 
    </div>
  </div>
  <% } else { %>
    <% } %>
  
