<body>
    <div class="container">
        <% if(user){ %>
            <%- include('../partials/header') %>
            <% } else{ %>  
                <%- include('../partials/splash') %>
            <% } %>
            <div class="content-container">
  <div class="failwhale">

   <h3> Terribly sorry but an error has occured.</h3>

       <img src="/images/404.gif" id="whale">
    </div>
    </div>
</div>
</body>
