body {
  padding: 5px 5px 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #8f81f8;
  
}

.container {
  max-width: 600px;
  background-color: #d6f5fa;
  padding-bottom: 100px;
  padding:5px 20px 35px;
  margin: auto;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.post {
  padding: 5px;
  border: 2px;
  border-style: dashed;
  border-color: lightseagreen;
  
}

h1 {
  text-align: center;
}

.post-links {
  font-size: x-small;
  text-align: right;
}

.postlinks {
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

nav {
  padding-bottom: 10px;
}

#index-post {
  width: 100%;
  background-color: #dfe3f7;
  border: 2px;
  resize: none;
}
#submit {
  position: relative;
  float: right;
  background-color: #008CBA;
  color: whitesmoke;
  padding: 8px 16px;
}

.postbox {
  margin: auto;
  padding-bottom: 60px;
  max-width: 90%;
}

.navlinks {
  position: relative;
  float: right;
  padding-right:0px;
  padding-left: 30px;
  color: cornflowerblue;
  text-decoration: none;
}

.poster {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 15px;
}

.post-view{
  margin-top: 30px;
  margin-bottom: 30px;
}

.commentbox {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 90%;
  margin: auto;
}

.nav {
  position: relative;
  float: right;
  background-color: slateblue;
  color: whitesmoke;
  padding: 3px 9px;
}

.editprofile {
  background-color: slateblue;
  color: whitesmoke;
  padding: 3px 9px;
}

.comment {
  border: 2px;
  background-color: lightblue;
  margin: auto;
  
}

.comment-view {
  width:85%;
  margin:auto;
  margin-bottom: 20px;
}

.post-attributes{
  text-align: left;
  font-size: x-small;
  padding: 5px;
}

.post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.post-content-post {
padding: 5px;
}


.action-button {
  background-color: #008CBA;
  color: whitesmoke;
  padding: 0;
}

.login-button {
  background-color: slateblue;
  color: whitesmoke;
  padding: 25px 35px;
}

.login {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-buttons {
  margin-right: 10px;
  display: flex;
}

.comment-details {
  font-size: xx-small;
  text-align: right;
  margin-right: 10px;
}