body {
  font: 14px "Calibri", Helvetica, Arial, sans-serif;
  background-color: #598dee;
}

.container {
  max-width: 600px;
  background-color: #d6f5fa;
  padding:0px 0px 10px;
  margin: auto;
}

.content-container {
  max-width: 600px;
  background-color: #d6f5fa;
  padding:10px 10px 10px;
  margin: auto;
}

a {
  color: #598dee;
  text-decoration: none;
}

.post {
  padding: 0px 5px 5px;
  border: 2px;
  border-style: dashed;
  border-color: #598dee;
}


.post-links {
 font-size: 8pt;
 display: inline-block;
 width: 25%;
}

#index-post {
  width: 100%;
  background-color: #dfe3f7;
  border: 2px;
  resize: none;
  border: 1px solid #598dee;
}
#submit {        
  background-color: #008CBA;
  color: whitesmoke;
  padding: 8px 16px;
}

.postbox {
  margin: auto;
  padding-bottom: 60px;
  max-width: 90%;
}


.commentbox {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 95%;
  margin: auto;
}

.nav {
  background-color: rgb(63, 96, 204);
  color: whitesmoke;
  padding: 3px 9px;
  width: 80px;
  margin-left: 15px;
}



.comment {
  border: 1px;
  background-color: #dfe3f7;
  margin: auto;
  border-style: dashed;
  border-color: #598dee;
  padding: 5px;
}


.comment-view {
  width:95%;
  margin:auto;
}

.post-attributes{
  text-align: left;
  font-size: x-small;
  padding: 5px;
}

.post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.post-content-post {
padding: 5px;
}


.action-button {
  background-color: #008CBA;
  color: whitesmoke;
  padding: 0;
  margin-right: 5px;
  width: 90px;
}

.login-button {
  background-color: slateblue;
  color: whitesmoke;
  padding: 35px 40px;
}

.login {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-buttons {
  width: 100%;
}

.comment-details {
  font-size: xx-small;
  text-align: right;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  width:80%;
}

.pages {
  text-align: right;
}

.pages li {
  display: inline-block;
}


.like-container {
  width: 75%;
  float: left;
}

.post-links-container {
  width: 100%;
}

.like-button {
  height:24px;
  background-color: #d6f5fa;
  color: #598dee;
  font-weight:bold;
  float:left;
  border: 0px;
}


.edit-delete-comment {
width: 100%;
}

.action-button-comment {
  width: 45px;
  background-color: #008CBA;
  color: whitesmoke;
  padding: 0;
  float: right;
  margin-right: 5px;
}

#show-form {
display: none;
}


::placeholder {
  color: #598dee;
  font-size: 1em;
}

nav {
  padding:0px 0px 5px;
  max-width: 600px;
  background-image: url("https://www.publicdomainpictures.net/pictures/310000/nahled/white-brick-wall-15674449685iG.jpg");
}


.hello {
  margin: 15px;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-family: 'Cabin Sketch', cursive;
  font-size: 36pt;
  color: #120b6b;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
}

.nav-buttons {
  width: 45%;

}

.nav-search {
  width: 55%;
}

.search-button {
  background-color: rgb(63, 96, 204);
  color: whitesmoke;
  padding: 0px 1px;
  width: 50px;
}