<div class="container">
    <% if(user){ %>
        <%- include('../partials/header') %>
        <div class="postbox">
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                <textarea rows="5" id="index-post" type="text" name="content"><%= post.content %></textarea>
                <input id="submit" type="submit" value="Update Post">
            </form> 
        </div>
    <% } else{ %>  
        <%- include('../partials/splash') %>
    <% } %>
</div>