<form id="new-form" action="/posts" method="POST">
    <label>Content:</label>
    <input type="text" name="content">
    <label>User:</label>
    <input type="text" name="author">
    <input type="submit" value="Add Post">
  </form>